.colorContainer {
  margin-top: 10px;
  background-color: #cbfacb;
  border-radius: 8px;
  padding: 20px;
}

.gameContainer {
  height: 100px;
  width: 100%;
  background-color: #9d00ec;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.gameContainer h3{
  padding-top: 8px;
  padding-left: 8px;
  margin: 0px;
}

.gameContainer div {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
  padding-right: 8px;
}
.iconButton{
  min-width: 0 !important;
  width: 35px !important;
  border-radius: 50% !important;
  aspect-ratio: 1/1;
  margin-left: 5px !important;
}